.App {
  text-align: center;
  align-content: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-items: center;
}

button {
  cursor: pointer;
  border-bottom-width: 5px;
}
button:active {
  border-bottom-width: 2px;
  transform: translateY(2px);
}

.App-header {
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: flex-start;
  font-size:50px;
  color: white;
}
.atm {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 100vh;
  justify-self: "center";
  align-self: center;
}
.displayContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50vh;
}
.display {
  display: flex;
  justify-content: space-between;

  background-color: aliceblue;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}

.textContainer {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2%;
}
.mainTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  height: 80%;
  width: 90%;
}
.mainText {
  font-size: 40px;
  word-wrap: break-word;
}


.buttonContainer {
  align-self: flex-end;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.buttonContainer button {
  background-color: rgba(0, 0, 0, 0.2);
  height: 30%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: 2vh;
  border-right-width: 0;
}

.atmKeyboard {
  background-color: silver;
  height: 39vh;
  padding-top: 1vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 37%;
  grid-template-rows: 20% 20% 20% 20%;
  gap: 1%;
  padding: 0 1%;
  padding-top: 1%;
}

.atmButton {
  border-radius: 20px;
  font-size: 40px;
}
.bigAtmButton {
  font-size: 30px;
  border-radius: 20px;
}

.yellow {
  background: rgb(192, 179, 0);
}
.green {
  background: rgb(0, 142, 70);
}
.red {
  background: rgb(199, 21, 27);
}

@media only screen and (max-width: 520px) {
  .atm {
    width: 100%;
  }
  .mainText{
    font-size: 32px;
  }
}

@media only screen and (max-height: 600px) {
  .App-header {
    font-size: 35px;
  }
  .atm {
    width: 100%;
  }
  .atmButton {
    font-size: 24px;
  }
  .bigAtmButton {
    font-size: 20px;
    border-radius: 20px;
  }
}
@media only screen and (min-width: 521px) {
  .atm {
    width: 75%;
  }
  .mainText{
    font-size: 35px;
  }
}

@media only screen and (min-width: 821px) {
  .atm {
    width: 50%;
  }
}
